@using Knjizara_ponovo.Models;
@model Knjizara_ponovo.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        
        
    </dl>
@if (Model.Books != null && Model.Books.Count > 0)
{
    <div>Lista knjiga:</div>
    <ul>
        @foreach (Book b in Model.Books)
        {
          <li><b>Naziv knjige:</b> @b.Name, <b>cena:</b> @b.Price</li>
        }
    </ul>
}
else
{
    <p class="alert-warning">Nema knjiga za prikaz</p>
}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
